<html>
  <head>
    <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="/static/js/index.js"></script>
    <script src="/static/js/models.js"></script>
  </head>
  <body>
    <header>
        <h1>Podility</h1>
    </header>
    <main>
      <div id="left">
        <div class="queue"></div>

        <div class="button-holder">
          <button class="large" onclick="showVideoSubmit(event)">submit video</button>
        </div>
        <overlay>
          <input id="submitVideoQueryInput"
                  type="text"
                  placeholder="enter query"
                  onkeyup="onSearchKeyup(event)"/>
          <button class="large" onclick="getYoutubeResults()">Search</button>
          <span onclick="hideVideoSubmit(event)">< back to playlist</span>
          <div class="suggestions"></div>
        </overlay>
      </div>
      <div id="middle">
        <div class="video-holder">
          <overlay>
            <div class="like-skip">
              <div class="like-holder">
                <div class="like"
                      onmouseover="glow(this)"
                      onmouseout="unglow(this)"
                      onclick="like(event);"></div>
              </div>
              <div class="skip-holder">
                <div class="skip"
                      onmouseover="glow(this)"
                      onmouseout="unglow(this)"
                      onclick="skip(event);"></div>
              </div>
            </div>
            <div class="progress-holder">
              <div class="progress-bar"></div>
            </div>
          </overlay>
          <iframe id="player" width="100%" height="100%" src=""></iframe>
          <span id="video_placeholder">your video is loading...</span>
        </div>
        <div class="video-actions">
          <div class="vote-battle">
            <div class="likes"></div>
            <div class="skips"></div>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="messages">
        </div>
        <div id="send-messages">
          <input type="text"
                  id="messageText"
                  placeholder="Enter Message"
                  onkeyup="onMessageKeyup(event)">
        </div>
      </div>
    </main>
    <div class="overlay" style="display:none;">
      <div class="overlay_box">
        <h2>Welcome to Podility!</h2>
        <p>Please choose a username and display name</p>
        <div class="user_create_form">
          <input name="username" id="username" type="text" placeholder="Username">
          <input name="display_name" id="display_name" type="text" placeholder="Display Name">
          <input type="submit" onclick="submit_user()" content="Create User">
        </div>
        <div>
      </div>
      </div>
    </div>
  </body>
</html>
